.guide-container {
  padding: 20px;
  background-color: #f5f5f5;
}

.guide-title {
  font-size: 33px;
  margin-bottom: 29px;
}

.guide-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  max-width: 1200px;
}
.lodge-card {

  border-radius: 8px;
  overflow: hidden;
  max-width: 378px;
  margin: 20px;

}

.lodge-image img {
  width: 22%;
  height: 65px;
  border-radius: 50%;
}
.lodge-image{
  display: flex
;
    justify-content: space-between;
    align-items: flex-start;
}



.lodge-name {
  font-size: 19px;
  margin: 0 0 1px;
}

.lodge-location {
  font-size: 1rem;
  color: #666;
  margin: 0 0 0px;
}

.lodge-rating {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.rating-value {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

.review-count {
  font-size: 0.9rem;
  color: #666;
}

.lodge-description {
  font-size: 14px;
  color: #333;
  margin: 0 0 15px;
}
.guide-title_head{
  max-width: 1200px;
  margin: auto;
}

.view-outfitter-btn {
  background-color: #259d6f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.view-outfitter-btn:hover {
  background-color: #1e7d5a;
}

.guide-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.guide-image {
  position: relative;
}

.guide-image img {
  width: 100%;
  display: block;
  height: 249px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}



.guide-info h3 {
  margin: 0;
  font-size: 18px;
}

.location {
  font-size: 14px;
  color: gray;
}

.rating {
  font-size: 14px;
  font-weight: bold;
}

.outfitter-button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #c4a000;
  background: none
}