.partners_component-slider {
    text-align: center;
    padding: 50px;
    background: #d7d5d5;
    color: white;
  }
  
 .partners-slider_h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .highlight-text {
    font-style: italic;
    color: #a5a5aa;
  }
  
  .slick-prev, .slick-next {
    color: white;
    z-index: 1;
  }
  
  .partner-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .partner-card:hover {
    transform: scale(1.05);
  }
  
  .partner-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .partner-info {
    margin-top: 15px;
  }
  
  .partner-info h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .partner-info p {
    font-size: 1rem;
    color: #aaaaff;
  }
  